{{!-- <h2 class="text-center">SẢN PHẨM </h2> --}}
<div class="card-header text-white bg-primary">Sản phẩm</div>
<hr>
<div class="row cart-row">

  {{#each ps}}
  <div class="col-sm-6 col-md-4 product" style="margin-top: 10px;">
          <div class="thumbnail" style="background-color: rgb(245, 235, 220); border-width: 1px; border-style: solid;">
            <a href="#">
              <img alt="{{ten_san_pham}}" src="/assets/photo-storage/{{hinh_anh}}" style="height: 238px; width: 100%;">
            </a>
          
            <div class="caption">
              <h4 style="text-align: center;">{{ten_san_pham}}</h4>
              <p class="gia" style="color: red;">Giá: ${{gia_tien}}</p>
              <p class="soluong" style="color: blue;">Số lượng: {{so_luong}}</p>
              <p class="danhgia" style="color: rgb(255, 230, 0);">Đánh giá: {{muc_danh_gia}} sao</p>
            <button class="add-to-cart" data-id="{{ma_so}}" type="submit" value="Submit" style="display: block; margin-left: auto; margin-right: auto;">Thêm vào giỏ</button>
            
            </br>
            </div>
          </div>
        </div>
  {{!-- <div class="col-lg-3 col-md-6 mb-4 mt-4">
    <div class="card h-100">
      <img src="/assets/photo-storage/{{this.hinh_anh}}" class="card-img-top mx-auto" alt="product">
      <div class="card-body">
        <h6 class="card-title mx-left">{{this.ten_san_pham}}</h6>
      </div>
      <div class="card-footer bg-danger">
        <small class="text-white">Giá tiền: {{productPrice this.gia_tien}}</small></br>
        <small class="text-white">Số lượng: {{this.so_luong}}</small>
      </div>
    </div>
    <a href="/seller/products-detail/{{this.ma_so}}" class="stretched-link"></a>
  </div> --}}
  {{/each}}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#if navs.prev}}
    <li class="page-item">
      <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{else}}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    {{#each pages}}
    {{#if active}}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="javascript:;">
        {{ value }} <span class="sr-only">(current)</span>
      </a>
    </li>
    {{else}}
    <li class="page-item">
      <a class="page-link" href="?page={{value}}">
        {{value}}
      </a>
    </li>
    {{/if}}
    {{/each}}
    {{#if navs.next}}
    <li class="page-item">
      <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{else}}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
  </ul>
</nav>