{{#section 'css'}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="./assets/fontawesome/css/all.css" />
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
{{/section}}

{{#section 'javascript'}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor-container', {
        theme: 'snow'
    });
    var curFullDes = document.querySelector('#inputFullDes').value;
    $("#editor-container .ql-editor").html(curFullDes);
    var form = document.querySelector('#formEditProduct');
    form.onsubmit = function () {
        // Populate hidden form on submit
        var about = document.querySelector('#inputFullDes');
        var fullDes = $("#editor-container .ql-editor").html();
        //about.value =  JSON.stringify(quill.getContents());
        about.value = fullDes;
        // No back end to actually submit to!
        return true;
    };
</script>
{{/section}}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">

        </div>
        <div class="col-10">
            {{>header-seller}}
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-1">

        </div>
        <div class="col-10 bg-white shadow-sm border border-success">
            <form class="mt-4" id="formEditProduct" action="/seller/shop/edit-product" method="post"
                enctype="multipart/form-data">
                <legend class="mb-4">Chỉnh sửa thông tin sản phẩm</legend>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputProductName">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="inputProductName" name="productName"
                                    value="{{{product.ten_san_pham}}}" required>
                                <input type="number" class="form-control d-none" id="inputProId" name="proId"
                                    value="{{{product.ma_so}}}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputQuantity">Số lượng</label>
                                <input type="number" class="form-control" id="inputQuantity" name="quantity"
                                    value="{{{product.so_luong}}}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputPrice">Đơn giá</label>
                                <input type="number" class="form-control" id="inputPrice" placeholder="vnd" name="price"
                                    value="{{{product.gia_tien}}}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputCategory">Loại sản phẩm</label>
                                <select id="inputCategory" class="form-control" name="category">
                                    {{#each categories}}
                                    <option value="{{{this.ma_so}}}" {{#if this.selected}}selected="selected" {{/if}}>
                                        {{this.ten}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-2 mt-3 px-2 py-2 rounded-pill shadow-sm border border-success">
                            <input id="inputAvatar" type="file" class="form-control border-0" name="inputAvatar" />
                            <label for="inputAvatar" class="font-weight-light text-muted mt-2">Hình ảnh cho sản
                                phẩm</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Mô tả</label>
                                <div id="editor-container" class="form-control" style="height: 350px;">
                                </div>
                                <textarea name="fullDes" style="display:none" id="inputFullDes"
                                    >{{{product.mo_ta}}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg mt-3 mb-3">Submit</button>
            </form>
        </div>
        <div class="col-1">

        </div>
    </div>

</div>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
        {{>footer}}
    </div>
    <div class="col-1">

    </div>
</div>
</div>