{{#section 'css'}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
{{/section}}

{{#section 'javascript'}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{{/section}}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">

        </div>
        <div class="col-10">
            {{>header-seller}}
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="row mt-4 ml-1">
                <h5>Chi tiết sản phẩm</h5>

            </div>
            <div class="row mt-4 ml-1">
                <a href="#" class="d-inline btn btn-outline-dark mr-3">Chỉnh sửa thông tin sản phẩm</a>
                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Xóa sản phẩm
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Bạn có muốn xóa sản phẩm này hay
                                    không?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-4" id="formDeleteProduct" action="/seller/shop/product-detail/delete-product" method="post">
                                    <div class="form-row">
                                        <button type="button" class="btn btn-secondary mr-2"
                                            data-dismiss="modal">Không</button>
                                        <button type="submit" class="btn btn-primary">Có</button>
                                        <input type="number" class="invisible" name="proId" value="{{{product.ma_so}}}"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 ">
                    <img class="rounded img-fluid" src="/assets/photo-storage/{{{product.hinh_anh}}}" />
                </div>
                <div class="col-sm-7">
                    <h2 class="title mb-3">{{product.ten_san_pham}}</h2>
                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency"></span><span class="num">{{productPrice product.gia_tien}}</span>
                        </span>
                    </p>
                    <div class="row ml-1 mt-4">
                        {{#each rating}}
                        <span class="fa fa-star mr-1" {{#if this.checked}} style="color: orange;" {{/if}}></span>
                        {{/each}}
                    </div>
                    <dl class="param param-feature mt-4">
                        <dt>Thông tin sản phẩm:</dt>
                        <dd class="mt-2 ml-3">Cửa hàng kinh doanh: {{{shop.ten_cua_hang}}}</dd>
                        <dd class="mt-2 ml-3">Người bán: {{{user.ten_dang_nhap}}}</dd>
                        <dd class="mt-2 ml-3">Loại sản phẩm: {{{category.ten}}}</dd>
                        <dd class="mt-2 ml-3 text-success">{{#if trade}} Sản phẩm này có thể trao đổi {{else}} Sản phẩm
                            không thể trao đổi {{/if}} </dd>
                        <dd class="mt-2 ml-3 text-danger">Số lượng: {{{product.so_luong}}}</dd>
                    </dl>

                </div>
            </div>
            <div class="row ml-1 mt-4">
                <h5>Mô tả</h5>
            </div>
            <div class="row ml-1">
                {{{product.mo_ta}}}
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            {{>footer}}
        </div>
        <div class="col-1">

        </div>
    </div>
</div>