{{#section 'css'}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
{{/section}}

{{#section 'javascript'}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{{/section}}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">

        </div>
        <div class="col-10">
            {{>header-buyer}}
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row" style="background-color: #f5f5f5;">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="row mt-4 ml-1">
                <h5>Lịch sử mua hàng</h5>
            </div>
            <div class="row ml-1 bg-white">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Ngày giao dịch</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Phương thức thanh toán</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orderForms}}
                        <tr>
                            <td style="width:500px;overflow: hidden;">
                                {{#each this.cartDetails}}
                                    {{{ten_san_pham}}} - Số lượng: {{{so_luong}}}
                                <br>
                                {{/each}}
                            </td>
                            <td>{{{this.ngay_lap_phieu}}}</td>
                            <td>{{{productPrice this.tong_tien}}}</td>
                            <td>{{{this.thanh_toan}}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-1">

            </div>
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                {{>footer}}
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>